@model GelirGiderApp.Models.Entities.Product

@{
    ViewData["Title"] = "Yeni Ürün Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Yeni Ürün Ekle</h4>
                </div>
                <div class="card-body">
                    <!-- Form Başlangıcı -->
                    <form method="post" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="ProductTypeId" class="form-label">Ürün Tipi</label>
                            <div class="input-group">
                                <select class="form-control" id="ProductTypeId" name="ProductTypeId" required>
                                    <option value="">Ürün Tipi Seçin</option>
                                    @foreach (var item in ViewBag.ProductTypes as List<GelirGiderApp.Models.Entities.ProductType>)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addProductTypeModal">Yeni Ürün Tipi Ekle</button>
                            </div>
                            <div class="invalid-feedback">
                                Lütfen ürün tipini girin.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Name" class="form-label">Ürün Adı</label>
                            <input type="text" class="form-control" id="Name" name="Name" required />
                            <div class="invalid-feedback">
                                Lütfen ürün adını girin.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Code" class="form-label">Ürün Kodu</label>
                            <input type="text" class="form-control" id="Code" name="Code" required />
                            <div class="invalid-feedback">
                                Lütfen ürün adını girin.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="SalePrice" class="form-label">Fiyat</label>
                            <input type="number" class="form-control" id="SalePrice" name="SalePrice" required />
                            <div class="invalid-feedback">
                                Lütfen fiyat girin.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="Cost" class="form-label">Maliyet</label>
                            <input type="number" class="form-control" id="Cost" name="Cost" required />
                            <div class="invalid-feedback">
                                Lütfen maliyet girin.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="Description" class="form-label">Açıklama</label>
                            <input type="text" class="form-control" id="Description" name="Description" required />
                            <div class="invalid-feedback">
                                Lütfen bir açıklama girin.
                            </div>
                        </div>

                        <!-- Submit Butonu -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg">Ürün Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Yeni Ürün Tipi Ekle Modal -->
<div class="modal fade" id="addProductTypeModal" tabindex="-1" aria-labelledby="addProductTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductTypeModalLabel">Yeni Ürün Tipi Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="newProductType" class="form-label">Ürün Tipi Adı</label>
                    <input type="text" class="form-control" id="newProductType" />
                    <div class="invalid-feedback">
                        Lütfen yeni ürün tipi adını girin.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="newProductTypeDesc" class="form-label">Ürün Tipi Adı</label>
                    <input type="text" class="form-control" id="newProductTypeDesc" />
                    <div class="invalid-feedback">
                        Lütfen yeni ürün tipi açıklamasını girin.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveProductType">Kaydet</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Bootstrap form validation
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        document.getElementById("saveProductType").addEventListener("click", function () {
            var newProductType = document.getElementById("newProductType").value;
            var newProductTypeDesc = document.getElementById("newProductTypeDesc").value;

            if (newProductType.trim() !== "") {
                // Yeni ürün tipini AJAX ile backend'e gönder
                $.ajax({
                    url: '/ProductType/Create',  // 'Create' action'ına yönlendireceğiz
                    type: 'POST',
                            data: { name: newProductType, description:newProductTypeDesc, modal:true},
                    success: function (response) {
                        if (response.success) {
                            // Ürün tipi başarılı şekilde eklendiyse
                            // Modal'ı kapat
                            var modal = bootstrap.Modal.getInstance(document.getElementById('addProductTypeModal'));
                            modal.hide();

                            // Dropdown'ı güncelle
                            var newOption = new Option(newProductType, response.id);
                                    $('#ProductTypeId').append(newOption);
                        } else {
                            alert('Ürün tipi eklenirken bir hata oluştu.');
                        }
                    },
                    error: function () {
                        alert('Bir hata oluştu, lütfen tekrar deneyin.');
                    }
                });
            } else {
                alert("Lütfen geçerli bir ürün tipi adı girin.");
            }
        });

    </script>
}
