@model GelirGiderApp.Models.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Yeni Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Yeni Kullanıcı Ekle</h5>
                </div>
                <div class="card-body">
                    <!-- Form Başlangıcı -->
                    <form method="post" class="needs-validation" novalidate>
                        <div class="row">
                            <!-- Kullanıcı Ad Alanı -->
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Kullanıcı Adı</label>
                                <input type="text" class="form-control" asp-for="UserName" required />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <!--Ad Alanı -->
                            <div class="col-md-6 mb-3">
                                <label>Ad</label>
                                <input type="text" asp-for="FirstName" class="form-control" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Soyad Alanı -->
                            <div class="col-md-6 mb-3">
                                <label>Soyad</label>
                                <input type="text" asp-for="LastName" class="form-control" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <!-- Email Alanı -->
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                <input type="email" asp-for="Email" class="form-control" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Telefon Alanı -->
                            <div class="col-md-6 mb-3">
                                <label>Telefon Numarası</label>
                                <input type="text" asp-for="PhoneNumber" class="form-control" required />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <!--Parola -->
                            <div class="col-md-6 mb-3">
                                <label>Şifre</label>
                                <input type="password" asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">

                            <!-- Parola Onayı Alanı -->
                            <div class="col-md-6 mb-3">
                                <label>Şifre Tekrar Girin</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <!-- Rol Alanı -->
                            <div class="col-md-6 mb-3">
                                <label>Rol Seç</label>
                                <select asp-for="SelectedRole" asp-items="@(new SelectList(ViewBag.Roles))" class="form-control">
                                    <option value="">Seçiniz</option>
                                </select>
                                <span asp-validation-for="SelectedRole" class="text-danger"></span>
                            </div>
                            <!-- Açıklama Alan -->
                            @*             <div class="col-md-6 mb-3">
                                <label for="Description" class="form-label">Açıklama</label>
                                <textarea class="form-control" id="Description" name="Description" rows="2"></textarea>
                                <div class="invalid-feedback">
                                    Bu alanı doldurmanız gerekmektedir.
                                </div>
                            </div> *@
                        </div>

                        <!-- Submit Butonu -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg">Kullanıcı Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Bootstrap form validation
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}
