
.html {
    font-size: 14px;
}

.body {
    font-size: 14px;
}

/* Sidebar styling */
.sidebar {
    background-color: #343a40;
    color: #ffffff;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
}

    .sidebar .nav-item {
        margin: 5px 25px;
       

    }

    .sidebar .nav-link {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

        .sidebar .nav-link:hover {
            background-color: #495057;
        }

        .sidebar .nav-link.active {
            background-color: #007bff;
        }
/* Make the navbar wider and adjust spacing */
.navbar {
    padding: 2rem 2rem;
    background-color: white;
    height: 100px;
    border-radius: 20px;
    padding-bottom: 20px;
}
/* Style the navbar text (username) */
.navbar-text {
    font-size: 1.1rem;
    color: #333;
}

/* Adjust the spacing of the logout button */
.navbar .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}


.content-container {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    font-size:13px;
    font-weight:400;
}

/* Collapsible menu */
.collapse ul {
    padding-left: 30px;
}

/* Content container styling */
/*.content-container {
    background-color: #f2feff;
    min-height: 100vh;
    min-width: 100vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px 0px 00px 20px;
}*/
.btn-custom {
    background-image: url('path_to_image.jpg');
    background-size: cover;
    color: black;
    color: black;
    font-weight: bold;
}
.ms-auto {
    margin-left: auto;
}