@{
    ViewData["Title"] = "Home Page";
}

@{
    int totalPatients = ViewBag.TotalPatients;
    decimal totalIncome = ViewBag.TotalIncome;
    decimal totalExpense = ViewBag.TotalExpense;
    decimal totalRemainingPayments = ViewBag.TotalRemainingPayments;
}

<div class="container mt-4">
    <div class="row">
        <!-- Hasta Sayısı -->
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header text-center"><i class="fas fa-users"></i> Toplam Hastalar</div>
                <div class="card-body text-center">
                    <h4 class="card-title">@totalPatients</h4>
                </div>
            </div>
        </div>

        <!-- Toplam Gelir -->
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header text-center"><i class="fas fa-money-bill-wave"></i> Toplam Gelir</div>
                <div class="card-body text-center">
                    <h4 class="card-title">@totalIncome ₺</h4>
                </div>
            </div>
        </div>

        <!-- Toplam Gider -->
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header text-center"><i class="fas fa-shopping-cart"></i> Toplam Gider</div>
                <div class="card-body text-center">
                    <h4 class="card-title">@totalExpense ₺</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Toplam Gelir -->
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header text-center"><i class="fas fa-money-bill-wave"></i> Toplam Gelir</div>
                <div class="card-body text-center">
                    <h4 class="card-title">@totalIncome ₺</h4>
                </div>
            </div>
        </div>

        <!-- Toplam Gider -->
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header text-center"><i class="fas fa-shopping-cart"></i> Toplam Gider</div>
                <div class="card-body text-center">
                    <h4 class="card-title">@totalExpense ₺</h4>
                </div>
            </div>
        </div>

        <!-- Kalan Ödemeler -->
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header text-center"><i class="fas fa-wallet"></i> Kalan Ödemeler</div>
                <div class="card-body text-center">
                    <h4 class="card-title">@totalRemainingPayments ₺</h4>
                </div>
            </div>
        </div>

    </div>
</div>
